<div class="header">
    <div class="logo-wrap">
        <div class="logo"></div>
    </div>
    <div class="title-wrap">
        <h1 class="title"><span class="notxt">{{title}}</span></h1>
    </div>
    <div class="nav">
        <ul class="ul">
            {{#nav}}
            <li class="li">
                <a class="a" href="{{url}}">{{name}}</a>
            </li>
            {{/nav}}
        </ul>
    </div>
</div>