<div class="header">
    <h1 class="logo"></h1>
    <div class="nav">
        <ul class="nav-ul">
            {{#nav}}
            <li class="nav-li">
                <a class="nav-a" href="{{url}}">{{name}}</a>
            </li>
            {{/nav}}
        </ul>
    </div>
</div>