<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- build:css -->
        <!-- endbuild -->
    </head>
    <body>
        <div class="wrap {{class}}">
            {{>header}}
            <div class="body Cf">
                {{>blocks}}
            </div>
            <div class="footer">
                <div class="text">2006&copy;Taiwan Urban Bicycle Alliance</div>
            </div>
        </div>
    </body>
    <!-- build:js -->
    <!-- endbuild -->
</html>